<% layout("/layouts/boilerplate") -%>
<body>
  <div class="centered-heading">
    <h1><%=type.toUpperCase()%></h1>
  </div>
  <div
    class="row row-cols-lg-3 row-cols-md-2 row-cols-1"
    style="padding: 0 1rem"
  >
    <% if (allItems && allItems.length > 0) { %> <% for (let item of allItems) {
    %>
    <a href="/item/<%=item._id%>">
      <div class="card col">
        <img
          src="<%=item.image.url%>"
          class="card-img-top"
          alt="listing"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%=item.title%></b> <br />
            &#2547;<%=item.price.toLocaleString("en-BD")%>
          </p>
        </div>
      </div>
    </a>
    <% } %> <% } else { %>
    <div class="d-flex justify-content-center" style="width: 100%">
      <div
        class="alert alert-danger col-6 mt-3"
        role="alert"
        style="text-align: center; width: fit-content; padding: 1rem"
      >
        Sorry! No items found.
      </div>
    </div>
    <% } %>
  </div>
</body>
